<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application.js" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <header>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
        <div id="messageboard"><p><%= link_to "message board", messages_path %>    &nbsp&nbsp&nbsp<%= link_to "houses", houses_path %></p></div>
        <div id="title">GREEKILLINI</div>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>

      <footer>

      </footer>
    </div> <!--! end of #container -->
  </body>
</html>